<!DOCTYPE html>
<html>

<head>
    <title>Gestor de tarefas</title>
    <link rel="Stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
    <nav class="i">
        <h2>Gestor de Tarefas</h2>
    </nav>
    <div>
        <input type="text" name="list" id="u" placeholder="Digite a tarefa">
        <button id="add" title="clique aqui para adicionar noma tarefa">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-plus-icon lucide-plus">
                <path d="M5 12h14" />
                <path d="M12 5v14" />
            </svg>
        </button>
    </div><br>

    </div>
    <div id="minhasTarefas"></div>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>