<!DOCTYPE html>
<html>
    <head>
        <title>Gestor de tarefas</title>
        <link rel="Stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        
    </head>
    <body>
        <nav class="i">
        <h2>Gestor de Tarefas</h2>
         </nav>
        <div>
        <input type="text" name="list"  id="u" placeholder="Digite a tarefa">
        <button  id="add" title="clique aqui para adicionar noma tarefa">➕</button>
        </div><br>
    
    </div>
    <div id="minhasTarefas"></div>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script> 
    </body>
      
</html>